
.cf:before, .grid:before, .cs-grid:before, .row:before, .belt:before, .belt-med:before, .belt-sml:before, .belt-alt:before, .inputbox:before, .checkbox:before, .searchtools:before, .searchfields:before, .cs-head:before, .la-head:before, .cf:after, .grid:after, .cs-grid:after, .row:after, .belt:after, .belt-med:after, .belt-sml:after, .belt-alt:after, .inputbox:after, .checkbox:after, .searchtools:after, .searchfields:after, .cs-head:after, .la-head:after {
    content: " ";
    display: table;
}

.cf:after, .grid:after, .cs-grid:after, .row:after, .belt:after, .belt-med:after, .belt-sml:after, .belt-alt:after, .inputbox:after, .checkbox:after, .searchtools:after, .searchfields:after, .cs-head:after, .la-head:after {
    clear: both;
}

.spring {
    min-width: 320px;
    width: 100%;
    position: relative;
}

.row {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

.grid {
    margin-left: -10px;
    margin-right: -10px;
}

.section {
    width: 100%;
    margin: 0 0 50px;
}

.grid p {
    text-align: center;
    margin-bottom: 5px;
}

.cl {
    float: left;
}

.cr {
    float: right;
}

@media only screen and (min-width:767px) {

    .cl {
        padding: 0 0 0 20px;
    }

    .cr {
        padding: 0 0 0 20px;
    }

    .row {
        padding: 0 15px;
        max-width: 980px;
    }

    .col-5 {
        width: 3%;
    }

    .col-10 {
        width: 8%;
    }

    .col-15 {
        width: 13%;
    }

    .col-20 {
        width: 18%;
    }

    .col-25 {
        width: 23%;
    }

    .col-30 {
        width: 28%;
    }

    .col-35 {
        width: 33%;
    }

    .col-40 {
        width: 38%;
    }

    .col-45 {
        width: 43%;
    }

    .col-50 {
        width: 48%;
    }

    .col-55 {
        width: 53%;
    }

    .col-60 {
        width: 58%;
    }

    .col-65 {
        width: 63%;
    }

    .col-70 {
        width: 68%;
    }

    .col-75 {
        width: 73%;
    }

    .col-80 {
        width: 78%;
    }

    .col-85 {
        width: 83%;
    }

    .col-90 {
        width: 88%;
    }

    .col-95 {
        width: 93%;
    }

    .col-100 {
        width: 98%;
    }
}
